.ini {
  background-color: #17252a;
  min-height: 100vh;
  overflow: hidden;
}
.ini h1 {
  border: 1px solid wheat;
  color: wheat;
  background-color: darkslategray;
  margin-left: 30%;
  max-width: 500px;
}
.tx {
  border: 1px solid wheat;
  color: wheat;
  background-color: darkslategray;
  max-width: 100px;
  margin-left: 20%;
  margin-top: 10%;
}
.card {
  margin: 5% 2% 5% 2%;
  width: 250px;
  background-color: darkslategray;
  color: wheat;
}
.card-img {
  height: 250px;
  width: 250px;
  padding-right: 2px;
}
